.profile{
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    overflow: hidden;
}
.upper-container{
    height: 100px;
    background: linear-gradient(to left, blue, olive);
}
.image-container img{
    background: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px);
}
img{
    border: 2px solid blue;
}
.lower-container{
    margin-top: 60px;
    height: 300px;
    background: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.lower-container h3,h4{
    margin: 0;
    padding: 0;
}
.lower-container h3{
    color: blue;
    font-weight: 600;
    font-size: 1.5rem;
}
.lower-container h4{
    color: olive;
    font-weight: 700;
    font-size: 1.2rem;
}
.button{
    margin: 3rem;
    font: bold;
    border: 2px solid blue;
    padding: 0.6rem;
    border-radius: 6px;
}
button:hover{
    /* background-image: linear-gradient(to left, blue, olive); */
    border: none;
    color: white;
}
